@media (orientation: portrait) {
    :root {
        --calculator_side_length: 86vw;
    }
    .display {
        font-size: 10vw;
        padding-left: 5vw;
    }
    button {
        font-size: 10vw;
    }
}

@media (orientation: landscape) {
    :root {
        --calculator_side_length: 86vh;
    }
    .display {
        font-size: 10vh;
        padding-left: 5vh;
    }
    button {
        font-size: 10vh;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: calc(50vh - var(--calculator_side_length) / 2);
    width: var(--calculator_side_length);
    height: var(--calculator_side_length);
}

.display {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(236, 239, 241, 0.3);
    color: #263238;
    letter-spacing: 0.25rem;
    flex: 1;
    border: 1px solid white;
    box-sizing: border-box;
}

/* KEYPAD */

.keypad {
    flex: 6;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.number-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operator-keys {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}

button {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    background-color: #ECEFF1;
    border: 2px solid white;
    text-align: center;
}

button:hover {
    filter: contrast(120%);
}

.number {
    color: #263238;
}

.operator {
    color: #536DFE;
}

#clear {
    color: #DD2C00;
}

#equals {
    color: white;
    font-weight: bold;
    background-color: #37474F;
}
